API_Key = "sample_api_key_xxxxx"

[group1]
username = "group1_user"
password = "group1_password"

[connections.snowflake]
account = "xxxxxx-yyyyyy"
user = "username"
password = "******"
role = "ACCOUNTADMIN"
warehouse = "COMPUTE_WH"
database = "STREAMLIT_25DAYS"
schema = "WORK4"